{% load static %}
<!DOCTYPE html>
<html lang="fr" xml:lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
    <title>Tutorat Fermat</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_account.css' %}">
    <link rel="icon" href="{% static 'icons/icone-fermat.ico' %}">

</head>
<body>
    <div class="top-bar">
        <h1>Tutorat Fermat</h1>
        <div class="top-bar-right">
            <a href="{% url 'login' %}" class="nav-button">Se connecter</a>
            <a href="{% url 'home' %}" class="nav-button">Accueil</a>
        </div>

    </div>

    <div class="main-box">
        <h2>Création de compte</h2>
        <form action="{% url 'creationdecompte' %}" method="post">
            {% csrf_token %}
            <div class="form-group-label">{% for field in form %}

                <span >{{ field.label_tag }}</span>
                <span>{{ field }}</span>
                <div class="form-errors-{{ field.name }}">
                    {{ field.errors }}
                </div>
                {% endfor %}
            </div>
            <button type="submit">Créer son compte</button>
        </form>


        <div class="error-message" id="error-message1">
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </div>


    </div>

    <div class="footer">
        <a href="{% url 'confidentialite' %}" >Confidentialité</a>
        <p>© 2024 Tutorat Fermat</p>
        <a href="mailto:tutorat.lycee.fermat@gmail.com">tutorat.lycee.fermat@gmail.com</a>
    </div>

</body>
</html>